.todolist {
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size:60px;
    font-family:'Times New Roman', Times, serif
}

.container {
    margin:0px;
    padding: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.container h2 {
    font-size:16px;
}

.container .container2 {
    display:flex;
    flex-direction: column;
    gap:16px;
}

.toElements {
    flex:1;
    /* as elements inside will be dynmaic let them grow accordingly */
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 4px;
    padding:16px;
    margin:0px;
    width:auto;
    min-height:100px;

    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.doneElements {
    flex:1;
    /* as elements inside will be dynmaic let them grow accordingly */
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;
    padding:16px;
    margin:0px;
    width:auto;
    min-height:100px;

    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.toElements ul , .doneElements ul {
    list-style-type: none;

    margin: 0px;
    padding:20px;
}

.toElements li , .doneElements li {
    text-align: center;
    flex:1;
    padding: 8px 0px;
    border-bottom: 1px solid bisque;
    
}

.tolielement {

}

.dolielement {

}

